---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Footer from "../components/Footer.astro";
import Servicios from "../components/Servicios.astro";
import SafenexPOS from "../components/SafenexPOS.astro";
import Contacto from "../components/Contacto.astro";
---

<Layout>
	<Header />
	<main>
		<Hero />
		<Servicios />
		<SafenexPOS />
		<Contacto />
	</main>
	<Footer />
</Layout>
