<header
    class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-4 mb-4"
>
    <div class="font-mono text-[10px] sm:text-xs tracking-[0.4em]">
        SAFENEX · CONEXION SEGURA
    </div>
</header>
