---
import LogoAnimado from "../components/LogoAnimado.astro";
---

<section
    id="hero"
    class="min-h-screen flex flex-col items-center justify-center text-center px-6 pt-24 pb-16 gap-7"
>
    <div>
        <LogoAnimado />
    </div>

    <div class="text-center">
        <h1
            class="font-raj text-[83px] tracking-[0.1em] bg-gradient-to-br from-white via-[#00c9a7] to-[#0a84ff] bg-clip-text text-transparent mt-4"
        >
            SAFENEX
        </h1>
        <p
            class="font-mono text-[10px] tracking-[0.4em] text-teal-500/80 uppercase"
        >
            Conexión Segura <span class="mx-2 opacity-50">•</span>
            Sistemas <span class="mx-2 opacity-50">•</span>
            Web <span class="mx-2 opacity-50">•</span>
            Tecnología
        </p>
    </div>

    <div class="flex flex-col items-center w-full mx-auto bg-[#020617] py-10">
        <div class="flex items-center justify-center">
            <div class="flex flex-col items-center gap-1 px-[28px] py-[14px]">
                <span
                    class="font-raj text-[22px] font-bold tracking-[3px] uppercase text-[#00c9a7]"
                >
                    Safe
                </span>
                <span
                    class="font-mono text-[9px] tracking-[2px] text-gray-500 uppercase"
                >
                    Seguro
                </span>
            </div>

            <div
                class="w-[1px] h-[40px] bg-[linear-gradient(to_bottom,transparent_0%,rgba(156,163,175,0.5)_50%,transparent_100%)]"
            >
            </div>

            <div class="flex flex-col items-center gap-1 px-[28px] py-[14px]">
                <span
                    class="font-raj text-[22px] font-bold tracking-[3px] uppercase text-[#0a84ff]"
                >
                    Nex
                </span>
                <span
                    class="font-mono text-[9px] tracking-[2px] text-gray-500 uppercase"
                >
                    Conexión
                </span>
            </div>
        </div>

        <div
            class="w-full h-[1px] mt-2 bg-[linear-gradient(90deg,transparent_0%,#00c9a7_30%,#0a84ff_70%,transparent_100%)] opacity-50"
        >
        </div>
    </div>

    <div class="flex gap-2.5 flex-wrap justify-center">
        <button
            class="bg-gradient-to-br from-teal-500 to-blue-500 text-black font-mono text-[11px] cursor-pointer border font-semibold px-[28px] py-[13px] uppercase shadow-[0_0_24px_rgba(0,201,167,0.3)] transition-[transform, box-shadow] duration-200 rounded-[4px] transition-all hover:-translate-y-0.5 hover:shadow-[0_0_36px_rgba(0,201,167,0.5)]"
            onclick="document.getElementById('pos').scrollIntoView({behavior:'smooth'})"
            >Ver SafenexPOS</button
        >
        <button
            class="bg-transparent border border-[rgba(0,201,167,0.35)] text-[#00c9a7] font-mono text-[11px] tracking-[2px] uppercase px-[28px] py-[13px] rounded-[6px] cursor-pointer transition-all hover:-translate-y-0.5 hover:shadow-[0_0_36px_rgba(0,201,167,0.5)]"
            >Contactarnos</button
        >
    </div>
</section>
